<form [formGroup]="service.formModel" autocomplete="off" (submit)="onSubmit()">
  <div class="form-group required">
    <label>Username</label>
    <input class="form-control" formControlName="userName">
    <label class="text-danger" *ngIf="service.formModel.get('userName').touched && service.formModel.get('userName').errors?.required">This
      field is mandatory.</label>
  </div>
  <div class="form-group">
    <label>Email</label>
    <input class="form-control" formControlName="email">
    <label class="text-danger" *ngIf="service.formModel.get('email').touched && service.formModel.get('email').errors?.email">Invalid
      email address.</label>
  </div>
  <div formGroupName="Passwords">
    <div class="form-group required">
      <label>Password</label>
      <input type="password" class="form-control" formControlName="password">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.password').touched && service.formModel.get('Passwords.password').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.password').touched && service.formModel.get('Passwords.password').errors?.minlength">Minimum
        4 characters required.</label>
    </div>
    <div class="form-group required">
      <label>Confirm Password</label>
      <input type="password" class="form-control" formControlName="ConfirmPassword">
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.required">This
        field is mandatory.</label>
      <label class="text-danger" *ngIf="service.formModel.get('Passwords.ConfirmPassword').touched && service.formModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm
        Password does not match.</label>
    </div>
  </div>
  <div class="form-group">
    <label>Postal Address</label>
    <input class="form-control" formControlName="postalAddress">
  </div>
  <div class="form-group">
    <label>Contact Number</label>
    <input class="form-control" formControlName="contactNumber">
  </div>
  <div class="form-row">
    <div class="form-group col-md-8 offset-md-2">
      <button type="submit" class="btn btn-lg btn-block" [disabled]="!service.formModel.valid">Sign Up</button>
    </div>
  </div>
</form>