<table class="table table-hover">
  <tr *ngFor= "let order of service.orderList">
      <td (click)="populateOrderForm(order)">[{{order.orderId}}]-{{order.userName}}</td>
      <td (click)="populateOrderForm(order)">{{order.productName}}</td>
      <td (click)="populateOrderForm(order)">{{order.shippingAddress}}</td>
      <td><button (click)="onDelete(order)" class="btn btn-sm btn-outline-danger">X</button></td>
  </tr>
</table>
