<form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
  <input type="hidden" name = "orderId" #orderId = "ngModel" [(ngModel)]="service.formData.orderId">
  <div class="form-group">
      <label>Product Name</label>
      <input type="text" name = "productName" #productName = "ngModel" [(ngModel)]="service.formData.productName" class="form-control" required>
  </div>
  <div class="form-group">
      <label>Shipping Address</label>
      <input type="text" name = "shippingAddress" #shippingAddress = "ngModel" [(ngModel)]="service.formData.shippingAddress" class="form-control" required>
  </div>
  <div class="form-group">
      <button type="submit" [disabled]= "form.invalid" class="btn btn-lg btn.block">Submit</button>
  </div>
</form>