<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">eCommerce</a>
    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
</nav>
<!-- <div class="jumbotron">
    <h1 class="display-4 text-center">Create Orders</h1>
    <hr>

    <div class="row">
        <div class="col-md-5 card">
            <app-create-order></app-create-order>
        </div>
        <div class="col-md-7 card">
            <app-orders-list></app-orders-list>
        </div>
    </div>
</div> -->

<div class="wrapper">
        <h1 class="display-4 text-center">Create Orders</h1>
        <hr>
        <div class="wrapped-div">
                <div class="row">
                        <div class="col-md-5">
                            <app-create-order></app-create-order>
                        </div>
                        <div class="col-md-7">
                            <app-orders-list></app-orders-list>
                        </div>
                    </div>
        </div>
      </div>